* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
  
}
#navigation {
  width: 100%;
  height: 200px;
  border: 0px solid rgb(237, 235, 235);
}
.logo-search-sign {
  display: flex;
  /* justify-content:space-around; */
  margin-top: 10px;

  margin-left: 230px;
}
.z-logo {
  width: 120px;
  height: 30px;
  margin-top: 10px;
  margin-right: 25px;
}
.search-loc {
  /* display: grid; */
  grid-template-columns: 50px;
  grid-template-rows: 100px;
  border: 1px solid rgb(224, 223, 223);
  width: 700px;
  height: 50px;
  margin-right: 80px;
  border-radius: 5px;
  margin-top: 3px;
  box-shadow: 1px 1px 1px 0px rgb(147, 146, 146);
}
.login {
  margin-right: 50px;
  margin-top: 15px;
  color: grey;
  font-size: 20px;
}
.sign-up {
  margin-top: 15px;
  color: grey;
  font-size: 20px;
}
.sign-up:hover {
  color: rgb(64, 64, 64);
  cursor: pointer;
}
.login:hover {
  color: rgb(64, 64, 64);
  cursor: pointer;
}
.grid-search-loc img {
  height: 30px;

  margin-top: 7px;
  margin-left: 5px;
}
.grid-search-loc {
  display: flex;
  /* gap: 10px; */
}
.loc-search {
  height: 30px;
  width: 210px;
  margin-top: 7px;
  margin-left: 5px;
  border: none;
  outline: none;
  font-size: 15px;
}
.item-search {
  height: 30px;
  width: 370px;
  margin-top: 7px;
  margin-left: 0px;
  margin-left: 10px;
  border: none;
  outline: none;
}

/* --------------------------------------------- */

.home p {
  display: inline-block;

  margin-top: 30px;
  font-size: 13px;
  color: grey;
}
.home :first-child {
  margin-left: 230px;
}
/* ---------------------------------------------- */

.delivary-dining-nightlife {
  display: flex;
  margin-left: 230px;
  margin-top: 20px;
}
.delivary-dining-nightlife:hover{
  cursor: pointer;
}
.delivary-dining-nightlife h2 {
  font-size: 23px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 50px;
  color: rgb(97, 96, 96);
}

.delivary-dining-nightlife h2:visited{
  color: rgb(241, 65, 95) ;
}
.delivary-dining-nightlife h2:active{
  color: rgb(241, 65, 95) ;
}
.delivary-dining-nightlife h2:hover {
  cursor: pointer;
}
.delivary-dining-nightlife img {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.delivery {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0px solid;
  background-color: rgb(241, 239, 239);
}

/* -------------------------------------------------- */

.below-nav {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(237, 235, 235);
  display: flex;
  gap: 15px;
  position: sticky;
  top: 0px;
  background-color: white;
}
.box {
  height: 35px;
  width: 90px;
  border: 1px solid;
  margin-top: 30px;
  border-radius: 5px;
  color: rgb(192, 190, 190);
}
.filter {
  display: flex;
  gap: 5px;
  font-size: 15px;
}
.filter p {
  margin-top: 8px;
}
.box:first-child {
  margin-left: 230px;
}
.filter img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-top: 5px;
}
.ratings p {
  text-align: center;
  font-size: 14px;
  margin-top: 7px;
  padding: 0px 3px 0px 3px;
}
.veg p {
  text-align: center;
  font-size: 14px;
  margin-top: 7px;
  padding: 0px 3px 0px 3px;
}
.cuisine p {
  text-align: center;
  font-size: 14px;
  margin-top: 7px;
  padding: 0px 3px 0px 3px;
}
.cuisine {
  display: flex;
  justify-content: center;
}
.cuisine img {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.box:hover {
  background-color: rgb(249, 244, 244);
  cursor: pointer;
}

/* -------------Food----------------- */
.food {
  width: 100%;
  height: 330px;
  border: 1px solid rgb(237, 235, 235);
  background-color: rgb(250, 249, 249);
}
.food h1 {
  margin-left: 230px;
  margin-top: 30px;
  font-weight: 400;
}
.food-items {
  display: flex;
  margin-left: 230px;
  margin-top: 30px;
  gap: 40px;
}
.food-item {
  width: 150px;
  height: 150px;
  border: 0px solid;
  border-radius: 50%;
}
.food-item:hover {
  cursor: pointer;
}

.food img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.food-item p {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

/* -------Top Brands----------- */
.top-brands {
  width: 100%;
  height: 300px;
  border: 0px solid;
}

.top-brands h1 {
  margin-left: 230px;
  margin-top: 30px;
  font-weight: 400;
}
.brands {
  display: flex;
  margin-left: 230px;
  margin-top: 30px;
  gap: 40px;
}
.brand1:hover {
  cursor: pointer;
}

.brand1 {
  width: 150px;
  height: 150px;
  border: 0px solid;
  box-shadow: 1px 1px 1px 1px rgb(147, 146, 146);
  border-radius: 50%;
}
.brand1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}
.brand1 p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.minutes {
  color: rgb(94, 93, 93);
}

/* -----------Best Foods in Kolkata */

.best-foods {
  width: 100%;
  height: 950px;
  border: 0px solid;
}
.best-foods h1 {
  margin-left: 230px;
  margin-top: 10px;
  font-weight: 400;
}
.row {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 400px 400px;
  margin-left: 240px;
  margin-top: 40px;
  column-gap: 30px;
  row-gap: 60px;
}

.dish {
  border: 0px solid;
  border-radius: 10px;
}
.dish:hover {
  /* border: 1px solid rgb(212, 207, 207); */
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(147, 146, 146);
  cursor: pointer;
}
.dish-img {
  width: 310px;
  height: 220px;
  border-radius: 10px;
  align-content: center;
  margin-left: 10px;
  margin-top: 10px;
}
.name-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  width: 310px;
  /* position: fixed; */
  /* border: 6px solid red; */
}
.rating {
  height: 22px;
  width: 40px;
  /* border: 7px solid red; */
  border-radius: 4px;
  text-align: center;
  background-color: green;
  color: white;
  font-size: 19px;
  border-radius: 5px;
  margin-left: 220px;
  /* position: relative;
  right: 20px; */
}
.rating h6 {
  text-align: center;
  margin-top: 1px;
  margin-left: 2px;
}
.dish-price {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  width: 310px;
  /* border: 1px solid; */
}

.dish-price h4 {
  margin-left: 34px;
  font-size: 15px;
  font-weight: 100;
  color: rgb(154, 153, 153);
}
.dish-price p {
  font-weight: 100;
  font-size: 15px;
  color: rgb(154, 153, 153);
}
.minute {
  margin-left: 279px;
  margin-top: 10px;
  font-size: 13px;
}
.max-safety {
  display: flex;
}
.max-safety img {
  width: 50px;
  height: 20px;
  margin-top: 15px;
  margin-left: 10px;
}
.safety-p {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  color: grey;
}

/* --------collection---------------- */

.collections{
  width: 100%;
  height: 500px;
  border: 1px solid rgb(246, 241, 241);
  background-color:rgb(252, 252, 252);;
  
  
}
.collection-head{
  margin-left: 230px;
  font-weight: 400;
  margin-top: 50px;

}
.explore{
  height: 70px;
  width: 1055px;
  border: 1px solid rgb(234, 230, 230);
  border-radius: 5px;
  margin-left: 230px;
  margin-top: 20px;
  background-color: white;
  display: flex;
}
.explore p{
  font-size: 20px;
  font-weight:lighter;
  margin-top: 20px;
  margin-left: 10px;
  color: rgb(97, 96, 96);
}
.arrow{
  height: 20px;
  margin-top: 3px;
  margin-left: 770px;
}
.arrow1{
  height: 20px;
  margin-top: 3px;
  margin-left: 698px;
}
.arrow2{
  height: 20px;
  margin-top: 3px;
  margin-left: 802px;
}
.arrow3{
  height: 20px;
  margin-top: 3px;
  margin-left: 825px;
}

/* ---------Footer----------------- */

footer{
  height: 500px;
  width: 100%;
  background-color: rgb(247, 247, 245);
}
.logo-india-language{
display: flex;

}
.zomato-logo{
   width: 120px;
  height: 30px;
  margin-top: 50px;
  margin-left: 230px;
}
.india-language{
  height: 40px;
  width: 110px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 50px;
  
}
.first-box{
  margin-left: 680px;
  margin-right: 20px;
  display: flex;
}
.india{
  height:25px ;
  width: 25px;
  margin-top: 8px;
  margin-left: 6px;
}
.country{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.country-arrow{
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-left: 5px;
}
.second-box{
  display: flex;
  width: 120px;

}
.globe{
  height:18px ;
  width: 18px;
  margin-top: 10px;
  margin-left: 6px;
}
.language{
  margin-top: 10px;
  margin-left: 7px;
  font-size: 17px;
}

.footer-content{
  border: 0px solid;
  height: 230px;
  margin-top: 40px;
  display: flex;
  margin-left: 230px;
  width: 1100px;
}
.content-in-footer{
  height: 230px;
  width: 200px;
  border: 0px solid;
  
}
.content-in-footer4{
  height: 230px;
  width: 200px;
  border: 0px solid;
  margin-left: 90px;
  
}
.content-in-footer5{
  height: 230px;
  width: 200px;
  border: 0px solid;
  margin-left: 0px;
  
}
.not-bold{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(130, 129, 129);
}
.not-bold:hover{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(87, 86, 86);
  cursor: pointer;
}
.not-bold :first-child{
  margin-top: 20px;
 
}
.bold{
  margin-top: 0px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 15px;
}
.bold-social{
  margin-top: 0px;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}
.social-media{
  border: 0px solid;
  margin-top: 0px;
}
.social-media-image{
  height: 20px;
  margin-left: 3px;
  margin-top: 10px;
}
.social-media-image1{
  height: 20px;
  margin-top: 10px;
}
.playstore{
  height: 40px;
  margin-top: 20px;

}
.appstore{
  height: 40px;
  margin-top: 10px;

}
.line{
  margin-left: 230px;
  margin-top: 30px;
  color: rgb(130, 129, 129);
}
.copyright{
  font-size: 13px;
  color: rgb(130, 129, 129);
  margin-left: 230px;
  margin-top: 20px;
}
.bottom-button{
  border: 1px solid white ;
  height: 70px;
  width: 70px;
  background-color:rgb(241, 65, 95) ;
  position: fixed;
  bottom: 40px;
  right: 50px;
  border-radius: 50%;
  

}
.bottom-button:hover{
  /* border: 1px solid white ;
  height: 70px;
  width: 70px; */
  background-color:rgb(240, 24, 60) ;
  position: fixed;
  bottom: 40px;
  right: 50px;
  border-radius: 50%;

}
.upload{
  height: 20px;
  width: 20px;
  margin-left: 24px;
  margin-top: 23px;
}
